<div class="bg_one">
    <div class="signin_container_1">
        <div class="forgot_container">
            <div class="forgotbox_box">
                <h1 class="login_logo pb-2">Alteration</h1>
                <div class="signin_div">
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" id="login" *ngIf="otpTab === false">
                        <div class="signin_head">
                            <span id="headtitle" style="font-size: 20px; font-weight: 500;">Create New Password</span>
                            <span id="trytitle"></span>
                            <div class="service_name"
                                style="font-size: 16px; margin: 10px 0px 0px 0px;line-height: 24px; font-weight: 400;color: #000000e6;">
                                Enter a unique and strong password that is easy to remember so that you won't forget it
                                the next time.</div>
                            <div class="fielderror"></div>
                        </div>
                        <input type="password" formControlName="password" placeholder="New Password"
                            class="form-control textbox textbox_div"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required" class="errorColor">New Password is required</div>
                        </div>
                        <input type="cpassword" formControlName="cpassword" placeholder="Confirm New Password"
                            class="form-control textbox textbox_div"
                            [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }" />
                        <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
                            <div *ngIf="f.cpassword.errors.required" class="errorColor">Confirm New Password is required
                            </div>
                        </div>
                        <span *ngIf="errorMessage" class="textbox_div" style="color: red;">{{errorMessage}}</span>
                        <button class="btn blue" id="nextbtn" tabindex="2"><span>Change Password</span></button>
                    </form>
                </div>
            </div>
        </div>
        <div id="signuplink">© 2021, Alteration Corporation Pvt. Ltd. All Rights Reserved.</div>
    </div>
</div>