<div class="container_header">
    <div class="container_header_rightside">
        <ul>
            <li>
                <a href="">All Invoices </a>
            </li>
        </ul>
    </div>
    <button  id="ember5356" class="btn-primary" type="button" style="margin-top :0;width: 60px; color: #fff; height: 28px; padding: 0px !important; font-weight: 400; font-size: 14px !important; margin-right: 20px;">
        <svg style="margin: 0; height: 16px; width: 10px;" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            x="0" y="0" viewBox="0 0 512 512" xml:space="preserve" class="icon icon-xsmall align-text-bottom">
            <path
                d="M484 227H284V28c0-15.5-12.5-28-28-28s-28 12.5-28 28v199H28c-15.5 0-28 12.5-28 28v1c0 15.5 12.5 28 28 28h200v200c0 15.5 12.5 28 28 28s28-12.5 28-28V284h200c15.5 0 28-12.5 28-28v-1c0-15.5-12.5-28-28-28z">
            </path>
        </svg>
        New
    </button>
</div>
<ngx-spinner bdColor="rgba(0,0,0,0.4)" size="default" color="#fff" type="ball-elastic-dots" [fullScreen]="true">
</ngx-spinner>
<table id="ember494" class="table" style="font-weight:  300;">
    <thead>
        <tr style="border-bottom: 1px solid #f0f0f0; ">
            
            <th id="ember769" class="cursor-pointer bulk-selection-cell ember-view" style="width: 0px;">
               
            </th>
            
            <th class=" text-left  sortable " style="color: #d64830!important; padding-left: 30px;font-weight: 500; width:15%">
                <div class="position-relative ">
                    <div class="float-left over-flow" title="User Details">
                        DATE
                    </div>
                    
                </div>
            </th>

            <th class=" text-left desc sortable " style="width:18%;font-weight: 400;">
                <div class="position-relative mr-4">
                    <div class="float-left over-flow" title="Role">INVOICE#
                        
                    </div><span class="sort d-print-none "></span>
                </div>
            </th>

            <th class=" text-left desc sortable " style="width:18%;font-weight: 400;">
                <div class="position-relative mr-4">
                    <div class="float-left over-flow" title="Role">JOB NUMBER

                    </div><span class="sort d-print-none "></span>
                </div>
            </th>

            <th class=" text-left desc sortable " style="width:18%;font-weight: 400;">
                <div class="position-relative mr-4">
                    <div class="float-left over-flow" title="Role"> CUSTOMER NAME
                        
                    </div><span class="sort d-print-none "></span>
                </div>
            </th>

            <th class=" text-left desc sortable " style="width:18%;font-weight: 400;">
                <div class="position-relative mr-4">
                    <div class="float-left over-flow" title="Role"> STATUS
                        
                    </div><span class="sort d-print-none "></span>
                </div>
            </th>

            <th class=" text-left desc sortable " style="width:18%;font-weight: 400;">
                <div class="position-relative mr-4">
                    <div class="float-left over-flow" title="Role"> DUE DATE
                        
                    </div><span class="sort d-print-none "></span>
                </div>
            </th>

            <th class=" text-left desc sortable " style="width:18%;font-weight: 400;">
                <div class="position-relative mr-4">
                    <div class="float-left over-flow" title="Role"> AMOUNT
                        
                    </div><span class="sort d-print-none "></span>
                </div>
            </th>
            
            <th class=" text-left desc sortable " style="width:18%;font-weight: 400;">
                <div class="position-relative mr-4">
                    <div class="float-left over-flow" title="Role"> BALANCE DUE
                        
                    </div><span class="sort d-print-none "></span>
                </div>
            </th>

        </tr>
    </thead>
    <tbody >
        <tr id="ember568" class="table-active ember-view" style="border-bottom: 1px solid #f0f0f0;">
            <td id="ember769" class="cursor-pointer bulk-selection-cell ember-view">
                <input id="ember770" class="ember-checkbox ember-view cursor-pointer" type="checkbox" aria-checked="false">
            </td>
            <td class=" text-left  sortable " style="font-weight: 300; width:18%;padding-left: 30px;" >
                <div class="position-relative ">
                    <div class="float-left over-flow" title="User Details">
                        <img  style="width: 40px; padding-right: 10px;" src="" />
                        <span >####</span>
                        <span >####</span>
                        
                    </div>
                
                </div>
            </td>
            <td class=" text-left  sortable " style="font-weight: 300; width:18%" >
                <div class="position-relative ">
                    <div class="float-left over-flow" title="User Details">
                        ####
                    </div>
                    
                </div>
            </td>
            <td class=" text-left  sortable " style="font-weight: 300; width:18%" >
                <div class="position-relative ">
                    <div class="float-left over-flow" title="User Details">
                       ####
                    </div>
                </div>
            </td>
            <td style="vertical-align: middle;" >
                <div class="position-relative ">
                    <div class="float-left over-flow" title="User Details">
               ####
                    </div>
                    
                </div>
            </td>
            <td style="width: 100%;">
                <div id="ember772" style="display: none;">
                    <label class="dropdown">
                        <input type="checkbox" class="dd-input" id="test">
                        <ul class="dd-menu" style="    position: absolute;top: 43px;left: -65px;">
                            <li >Edit</li>
                        </ul>
                        <a style="position: absolute;right: 0; top: -5px;">

                            <div> <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0" y="0"
                                    viewBox="0 0 512 512" xml:space="preserve"
                                    class="icon icon-xlg icon-theme-fill icon-rounded">
                                    <path id="Oval-50_2_"
                                        d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256 256-114.6 256-256S397.4 0 256 0zm118.6 246l-96.8 95.8c-6 5.9-13.9 8.9-21.8 8.9s-15.8-3-21.8-8.9L137.4 246c-8.2-8.2-8.3-21.5-.2-29.7 8.1-8.2 21.5-8.3 29.7-.2l89.1 88.1 89.1-88.1c8.2-8.2 21.5-8.1 29.7.2 8.2 8.2 8.1 21.5-.2 29.7z">
                                    </path>
                                </svg> </div>
                        </a>

                    </label>
                </div>
            </td>

        </tr>
        
    </tbody>
</table>