<div class="bg_one">
    <div class="signin_container_1">
        <div class="forgot_container">
            <div class="forgotbox_box">
                <h1 class="login_logo pb-2">Alteration</h1>
                <div class="signin_div">
                    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" id="login" *ngIf="otpTab === false">
                        <div class="signin_head">
                            <span id="headtitle" style="font-size: 20px; font-weight: 500;">Forgot Password</span>
                            <span id="trytitle"></span>
                            <div class="service_name"
                                style="font-size: 16px; margin: 10px 0px 0px 0px;line-height: 24px; font-weight: 400;color: #000000e6;">
                                Enter your registered email address, mobile number, or username to
                                change your Zoho account password.</div>
                            <div class="fielderror"></div>
                        </div>
                        <input type="text" formControlName="email" placeholder="Email"
                            class="form-control textbox textbox_div"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required" class="errorColor">Email is required</div>
                        </div>
                        <span *ngIf="errorMessage" class="textbox_div" style="color: red;">{{errorMessage}}</span>
                        <button class="btn blue" id="nextbtn" tabindex="2"><span>Next</span></button>
                    </form>

                    <form [formGroup]="loginForm" (ngSubmit)="submitotp()" id="submitotp" *ngIf="otpTab === true">
                        <div class="signin_head">
                            <span id="trytitle"></span>
                            <div class="service_name"
                                style="font-size: 16px; margin: 10px 0px 0px 0px;line-height: 24px; font-weight: 400;color: #000000e6;">
                                Enter the one-time password sent to your email address.</div>
                            <div class="fielderror"></div>
                        </div>
                        <input type="text" formControlName="email" placeholder="Email"
                            class="form-control textbox textbox_div"
                            [ngClass]="{ 'is-invalid': submitteded && f2.email.errors }" readonly />
                        <input type="text" formControlName="otp" placeholder="OTP"
                            class="form-control textbox textbox_div"
                            [ngClass]="{ 'is-invalid': submitteded && f2.otp.errors }" />
                        <div *ngIf="submitteded && f2.otp.errors" class="invalid-feedback">
                            <div *ngIf="f2.otp.errors.required" class="errorColor">OTP is required</div>
                        </div>

                        <span *ngIf="errorMessage1" class="textbox_div" style="color: red;">{{errorMessage1}}</span>
                        <button class="btn blue" id="nextbtn" tabindex="2"><span>Verify</span></button>
                    </form>
                </div>
            </div>
        </div>
        <div id="signuplink">Don't have a Alteration account? <a routerLink="/registration">Sign Up Now</a></div>
    </div>
</div>